
<script type="text/javascript" src="./www/js/boy.js"></script>
<div id="dragon"></div>
<div id="welcome">
    <h1>Vitajte</h1>
    <p><span class="bold">Kto chce v živote šikovný byť,</span></p>
    <p><span class="bold">našu škôlku by mal navštíviť.</span></p>
</div>
<div id="footer">
    <div class="page footer" id="house">
        <div id="boy"></div>
        <p><a href="/Admin" target="_blank">Materská škola A.Bernoláka</a> v Detve © 2013. Publikovanie alebo ďalšie šírenie obsahu je bez písomného súhlasu škôlky zakázané.</p>
    </div>
</div>
